.first-screen-wrapper{
   display: flex;
   max-width: 1280px;
   width: 100%;
   height: 800px;
   background-color: #3F5252;
   flex-direction: column;
   @media(max-width: 768px){
      height: 1092px;
   }
   @media(max-width: 320px){
      height: 747px;
   }
   .header-wrapper{
      display: flex;
      width: 100%;
      height: 90px;
      justify-content: center;
      align-items: center;
      @media(max-width: 768px){
         height: 77px;
      }
      @media(max-width: 320px){
         height: 80px;
      }
      .header-container{
         display: flex;
         max-width: 1170px;
         align-items: center;
         width: 100%;
         height: 100%;
         justify-content: space-between;
         @media(max-width: 768px){
            max-width: 690px;
            width: 100%;
         }
         @media(max-width: 320px){
            max-width: 280px;
            width: 100%;
         }
         .burger-dropdown-container{
            display: flex;
            width: 100%;
            max-width: 104px;
            height: 30px;
            justify-content: space-between;
            align-items: center;
            @media(max-width: 768px){
               max-width: 93px;
            }
            @media(max-width: 320px){
               max-width: 25px;
            }
            .burger{
               width: 30px;
               height: 30px;
               &:hover{
                  cursor: pointer;
               }
            }
            .dropdown{
               display: flex;
               color: #F1F5F4;
               font-size: 16px;
               font-family: Raleway;
               font-weight: 500;
               line-height: 24px;
               word-wrap: break-word;
               @media(max-width: 320px){
                  display: none;
               }
               .arrow-down{
                  &:hover{
                     cursor: pointer;
                  }
               }
            }
         }
      }
   }
   .content-wrapper{
      display: flex;
      max-width: 1280px;
      width: 100%;
      height: 663px;
      margin-top: 47px;
      justify-content: flex-end;
      @media(max-width: 768px){
         max-width: 768px;
         margin-top: 99px;
         width: 100%;
         height: 915px;
         justify-content: center;
      }
      @media(max-width: 320px){
         max-width: 320px;
         margin-top: 50px;
         width: 100%;
         height: 617px;
         justify-content: center;
      }
      .content-container{
         display: flex;
         max-width: 1225px;
         width: 100%;
         height: 100%;
         justify-content: space-between;
         @media(max-width: 768px){
            max-width: 690px;
            width: 100%;
            height: 100%;
            flex-direction: column;
            align-items: center;
         }
         @media(max-width: 320px){
            max-width: 280px;
            width: 100%;
            height: 100%;
            justify-content: center;
         }
         .title-tickets-wrapper{
            display: flex;
            max-width: 569px;
            width: 100%;
            height: 100%;
            flex-direction: column;
            align-items: flex-start;
            @media(max-width: 768px){
               max-width: 690px;
               width: 100%;
            }
            @media(max-width: 320px){
               max-width: 280px;
               width: 100%;
            }
            .event-date{
               display: flex;
               width: 100%;
               margin-top: 43px;
               color: #F1F5F4;
               font-size: 14px;
               font-family: Raleway;
               font-weight: 400;
               line-height: 19.60px;
               word-wrap: break-word;
               @media(max-width: 768px){
                  margin-top: 0;
               }
            }
            .event-title{
               display: flex;
               width: 100%;
               height: 192px;
               color: #F1F5F4;
               font-size: 96px;
               font-family: Playfair Display;
               font-weight: 700;
               line-height: 96px;
               word-wrap: break-word;
               @media(max-width: 768px){
                  margin-top: 10px;
                  max-width: 570px;
                  width: 100%;
                  height: 144px;
                  font-size: 72px;
                  line-height: 72px;
               }
               @media(max-width: 320px){
                  margin-top: 10px;
                  max-width: 280px;
                  width: 100%;
                  height: 96px;
                  font-size: 48px;
                  line-height: 48px;
               }
            }
            .event-context{
               display: flex;
               width: 100%;
               height: 24px;
               margin-top: 30px;
               color: #F1F5F4;
               font-size: 16px;
               font-family: Raleway;
               font-weight: 400;
               line-height: 24px;
               word-wrap: break-word;
               @media(max-width: 768px){
                  margin-top: 20px;
                  height: 48px;
                  max-width: 300px;
                  width: 100%;
               }
               @media(max-width: 320px){
                  margin-top: 30px;
                  height: 48px;
                  max-width: 247px;
                  width: 100%;
               }
            }
            .buy-tickets-button{
               display: flex;
               width: 270px;
               height: 60px;
               justify-content: center;
               align-items: center;
               background-color: #CD4D31;
               margin-top: 81px;
               color: #F1F5F4;
               font-size: 16px;
               font-family: Raleway;
               font-weight: 600;
               line-height: 16px;
               word-wrap: break-word;
               @media(max-width: 768px){
                  margin-top: 50px;
                  max-width: 330px;
                  width: 100%;
               }
               @media(max-width: 320px){
                  margin-top: 40px;
                  max-width: 280px;
                  width: 100%;
               }
               &:hover{
                  cursor: pointer;
               }
            }
            .date-line{
               display: flex;
               width: 100%;
               height: 17px;
               justify-content: space-between;
               margin-top: 135px;
               color: #F1F5F4;
               font-size: 14px;
               font-family: Playfair Display;
               font-weight: 700;
               line-height: 17.50px;
               word-wrap: break-word;
               @media(max-width: 768px){
                  display: none;
               }
               hr{
                  max-width: 470px;
                  width: 100%;
                  height: 1px;
               }
            }
         }
         .picture-container{
            display: flex;
            width: 100%;
            max-width: 625px;
            height: 100%;
            @media(max-width: 768px){
               max-width: 443px;
               width: 100%;
               height: 494px;
            }
            @media(max-width: 320px){
               max-width: 245px;
               width: 100%;
               height: 273px;
               margin-top: 40px;
            }
            img{
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }
      }
   }
}